<!--Creamos, en el archivo ts de este componente, 3 variables que reciben datos de otro componente.
Les asignamos los valores obtenidos a cada elemento de este componente:-->
  <div class="col">
    <div class="card border-primary img-hvr" >
      <img [src]="url" class="card-img-top img-fluid"
        alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ name }}</h5>
        <p class="card-text">{{ description }}</p>
        <a (click)="onActivate($event)" [routerLink]="['/product', url, name, description, type]" class="btn btn-primary">Comprar</a>
      </div>
    </div>
  </div>

