<hr class="mt-5">
  <h2 class="text-center">Contactenos</h2>
<hr class="mb-5">
<div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 justify-content-md-center">
  <div class="col">
    <hr class="mt-2">
      <h4 class="text-center">Contactenos</h4>
    <hr class="mb-4">
    <div id="margin">
      <i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:productos@productos.com">productos@productos.com</a>
      <br class="mt-1">
      <div class="mt-3">
        <i class="fa fa-phone" aria-hidden="true"></i>4771111
      </div>
      <div class="mt-3">
        <i class="fa fa-whatsapp" aria-hidden="true"></i>+54 299 5111111
      </div>
    </div>
  </div>
  <div class="col">
    <div class="mb-3">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="Ingrese su nombre completo">
      </mat-form-field>
    </div>
    <div class="mb-3">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
               placeholder="Ej. pat@example.com">
        <mat-hint>Ingrese una direccion de email valida</mat-hint>
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Ingrese una dirección de email válida
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email es <strong>requerido</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="mb-3">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Numero de contacto</mat-label>
        <input type="phone" matInput placeholder="+ 54 9 299 5111111">
      </mat-form-field>
    </div>
    <div class="mb-3">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Mensaje (opcional)</mat-label>
        <textarea matInput placeholder="Datos sobre la consulta..."></textarea>
      </mat-form-field>
    </div>
  </div>
</div>
