<!--Titulo-->
<div class="container">
  <hr class="mt-5">
  <h2 class="text-center fw-bold">Politica de DEVOLUCION y CAMBIO:</h2>
  <hr class="mb-5">
</div>

<!--Contenedor-->
<div class="container">
  <h4>Si no estás conforme con nuestro producto, puedes realizar un cambio del mismo de alguna de las siguientes formas:</h4>
  <ol>
    <li>Si sos de Bahía Blanca podés realizar el cambio en nuestro local o mediante el cadete.</li>
    <li>El resto del país, escribinos por Whatsapp (+54 299 5111111) especificando tu <strong>N°Orden</strong> y coordinamos para que puedas realizar el cambio del producto. </li>
  </ol>
  <ul>
    <li class="list-unstyled"><strong>LOS CAMBIOS DEBEN SER ABONADOS POR CLIENTE, TANTO IDA COMO VUELTA.</strong></li>
  </ul>
  <p class="fst-italic">Las devoluciones o cambios se pueden hacer hasta 5 días después de recibir el pedido.</p>
</div>
