<div class="offcanvas offcanvas-end" tabindex="-1" id="myCart" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <hr>
    <div class="container">
      <div class="row">
        <div class="col"><h5>Producto</h5></div>
        <div class="col"><h5 class="text-end">Subtotal</h5></div>
      </div>
    </div>
    <hr>
    <div class="row row-cols-1">
      <div class="col">
        <app-mycartcard></app-mycartcard>
      </div>
      <div class="col">
        <app-mycartcard></app-mycartcard>
      </div>
      <div class="col">
        <app-mycartcard></app-mycartcard>
      </div>
      <div class="col">
        <app-mycartcard></app-mycartcard>
      </div>
    </div>
  </div>
</div>
