<!--Creamos el offcanvas, y a cualquier reference link, le agregamos:
data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample"
es la llamada al canvas.-->

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">My Store</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="container">
    <div>
      Nuestros mejores precio, para usted, y en todo lugar
    </div>
  </div>
  <app-accordion></app-accordion>
</div>
