
.scroll-to-top {
    position: fixed;
    /* Colocamos el boton en la esquina superior derecha */
    top: 60px;
    right: 5px;
    opacity: 0;
    transition: all .2s ease-in-out;
   }
   .show-scrollTop {
    opacity: 1;
    transition: all .2s ease-in-out;
   }
