<!-- Footer -->
<footer class="bg-primary text-center text-white" style="margin-top: 2%;">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <hr>
    <p>Siguienos en nuestras redes: </p>
    <hr>
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1 rounded-circle" href="#!" role="button">
        <i class="fa fa-facebook" aria-hidden="true"></i>
      </a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1 rounded-circle" href="#!" role="button">
        <i class="fa fa-twitter">
        </i>
      </a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1 rounded-circle" href="#!" role="button">
        <i class="fa fa-google">
        </i>
      </a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1 rounded-circle" href="#!" role="button"><i
          class="fa fa-instagram"></i></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1 rounded-circle" href="#!" role="button"><i
          class="fa fa-linkedin"></i></a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1 rounded-circle" href="#!" role="button"><i
          class="fa fa-github"></i></a>
    </section>
    <!-- Section: Social media -->

    <!-- Section: Form -->
    <section class="">
      <form action="">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
          <!--Grid column-->
          <div class="col-auto">
            <p class="pt-2">
              <strong>Suscribete para recibir noticias</strong>
            </p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-5 col-12">
            <!-- Email input -->
            <div class="form-outline form-white mb-4">
              <input placeholder="Direccion de mail" type="email" id="form5Example21" class="form-control" />
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-auto">
            <!-- Submit button -->
            <button type="submit" class="btn btn-outline-light mb-4">
              Suscribir
            </button>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
    </section>
    <!-- Section: Form -->

    <!-- Section: Text
    <section class="mb-4">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum
        repellat quaerat voluptatibus placeat nam, commodi optio pariatur est quia magnam
        eum harum corrupti dicta, aliquam sequi voluptate quas.
      </p>
    </section>
    Section: Text-->

    <!--Section: Links-->
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">NAVEGACION</h5>

          <ul class="list-unstyled text-start mb-0">
            <li>
              <a routerLink="home" routerLink="" class="text-white">Inicio</a>
            </li>
            <li>
              <a [routerLink]="['/allProducts', all]" class="text-white">Productos</a>
            </li>
            <li>
              <a href="#!" class="text-white">Contacto</a>
            </li>
            <li>
              <a href="#!" class="text-white">Como Comprar</a>
            </li>
            <li>
              <a routerLink="/politics" class="text-white">Politica de devolucion</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-6 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Medios de pagos:</h5>

          <section class="mb-5">
            <!-- Vise -->
            <a class="btn btn-outline-light btn-floating m-1" role="button">
              <i class="fa fa-cc-visa" aria-hidden="true"></i>
            </a>

            <!-- Master Card -->
            <a class="btn btn-outline-light btn-floating m-1" role="button">
              <i class="fa fa-cc-mastercard" aria-hidden="true"></i>
            </a>

            <!-- PayPal -->
            <a class="btn btn-outline-light btn-floating m-1" role="button">
              <i class="fa fa-paypal" aria-hidden="true"></i>
            </a>
          </section>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">CONTACTENOS</h5>

          <ul class="list-unstyled text-end mb-0">
            <li>
              <a href="#!" class="text-white">WhatsApp: +54 299 5111111</a>
            </li>
            <li>
              <a href="#!" class="text-white">Mail: productos@productos.com</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright:
    <a class="text-white">Desarrollado por HVDevs</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
