<!--Titulo principal:-->
<div class="container">
  <hr class="mt-5">
  <h2 class="text-center">{{ title }}:</h2>
  <hr class="mb-5">
</div>
<!--Las tarjetas, se muestran 3 en medio, 2 en chico
Muestra las que se seleccionen en la pagina anterior.-->
<div class="container">
  <div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 g-4">
    <!--ng-container (contenedor logico) para usar las directivas de ng-->
    <ng-container *ngFor="let product of storageList">
      <app-card *ngIf="product.type == title" [url]="product.url" [name]="product.name" [description]="product.description" [type]="product.type"></app-card>
      <app-card *ngIf="title == all" [url]="product.url" [name]="product.name" [description]="product.description"></app-card>
    </ng-container>
  </div>
</div>
